@using HungApple.Models.ViewModels
@model ProductListViewModel
@{
    @if (Model.Product.Any())
    {
        ViewData["Title"] = Model.Product.First().Category?.Name;
    }
    var productActive = string.Empty;
    if (Model != null && Model.Product.Count() > 0)
    {
        productActive = Model.Product.First().Category?.Name;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb-tree">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">@productActive</li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="aside" class="col-md-3">
        @await Component.InvokeAsync("Sidebar")
        @if (Model != null && Model.Product.Count() > 0)
        {
            <div style="margin-top:35px;">
                <h3 class="aside-title">Sản phẩm bán chạy</h3>
                @foreach (var item in Model.Product)
                {
                    if (item.IsBestSeller)
                    {
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/Upload/Product/@item.Image" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">@item.Category.Name</p>
                                <h3 class="product-name"><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
                                <h4 class="product-price">@(item.Price - item.PriceDiscount)</h4>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
    <div id="store" class="col-md-9">
        @if (Model != null && Model.Product.Count() > 0)
        {
            @foreach (var product in Model.Product)
            {
                <!-- product -->
                <div class="col-md-4 col-xs-6">
                    @if (product.IsSale && product.IsNew)
                    {
                        <div class="product">
                            <div class="product-img">
                                <img src="/Upload/Product/@product.Image" alt="">
                                <div class="product-label">
                                    <span class="sale">-@((int)((product.PriceDiscount / product.Price) * 100))%</span>
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">@product.Category.Name</p>
                                <h3 class="product-name"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                                <h4 class="product-price">@(product.Price - product.PriceDiscount)<del class="product-old-price">@product.Price</del></h4>

                            </div>
                            <div class="add-to-cart">
                                <form action="/Cart/AddToCart" method="post">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="add-to-cart-btn">
                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    else if (product.IsSale)
                    {
                        <div class="product">
                            <div class="product-img">
                                <img src="/Upload/Product/@product.Image" alt="">
                                <div class="product-label">
                                    <span class="sale">-@((int)((product.PriceDiscount / product.Price) * 100))%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">@product.Category.Name</p>
                                <h3 class="product-name"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                                <h4 class="product-price">@(product.Price - product.PriceDiscount)<del class="product-old-price">@product.Price</del></h4>

                            </div>
                            <div class="add-to-cart">
                                <form action="/Cart/AddToCart" method="post">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="add-to-cart-btn">
                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    else if (product.IsNew)
                    {
                        <div class="product">
                            <div class="product-img">
                                <img src="/Upload/Product/@product.Image" alt="">
                                <div class="product-label">
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">@product.Category.Name</p>
                                <h3 class="product-name"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                                <h4 class="product-price">@product.Price</h4>

                            </div>
                            <div class="add-to-cart">
                                <form action="/Cart/AddToCart" method="post">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="add-to-cart-btn">
                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    else if (product.IsSale == false && product.IsNew == false)
                    {
                        <div class="product">
                            <div class="product-img">
                                <img src="/Upload/Product/@product.Image" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">@product.Category.Name</p>
                                <h3 class="product-name"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                                <h4 class="product-price">@product.Price</h4>

                            </div>
                            <div class="add-to-cart">
                                <form action="/Cart/AddToCart" method="post">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="add-to-cart-btn">
                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
    <div class="store-filter clearfix">
        <ul class="store-pagination">
            @{
                var _url = ViewContext.HttpContext.Request.QueryString.Value;
                var pageProduct = ViewContext.HttpContext.Request.Query["productPage"].ToString();
                if (!string.IsNullOrEmpty(pageProduct))
                {
                    _url = _url.Replace("&productPage=" + pageProduct.ToString(), string.Empty);
                }
            }
            @if (Model.PagingInfo.CurrentPage > 1)
            {

                <li><a href="/Products/Filter@_url&productPage=@(Model.PagingInfo.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
            }
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                @if (i == Model.PagingInfo.CurrentPage)
                {
                    <li class="active"><a href="/Products/Filter@_url&productPage=@i">@i</a></li>
                }
                else
                {
                    <li><a href="/Products/Filter@_url&productPage=@i">@i</a></li>
                }
            }
            @if (Model.PagingInfo.CurrentPage != Model.PagingInfo.TotalPages)
            {
                <li><a href="/Products/Filter@_url&productPage=@(Model.PagingInfo.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a></li>
            }
        </ul>
    </div>
</div>


