@{
	ViewData["Title"] = "Home Page";
}
@model IEnumerable<HungApple.Models.Product>

@foreach (var item in Model)
{
	@if (item.IsBestSeller)
	{
		<div class="product-widget">
			<div class="product-img">
				<img src="/Upload/Product/@item.Image" alt="">
			</div>
			<div class="product-body">
				<p class="product-category">@item.Category.Name</p>
				<h3 class="product-name"><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
				<h4 class="product-price">@item.Price <del class="product-old-price">@item.PriceDiscount</del></h4>
			</div>
		</div>
	}
}